@use "../header/header.scss";
@use "../rating/rating.scss";
@use "../buttons/button.scss";

.user-feedback-component {
	max-width: 496px;
	min-height: 414px;
	width: 100%;
	padding: 32px;
	background: var(--background-color-component);
	border-radius: 24px;
	overflow: hidden;

	@media screen and (max-width: 375px) {
		padding: 16px;
		max-width: 343px;
		min-height: 314px;
		border-radius: 18px;
	}
}
