$_834px: 834px;
$_375px: 375px;
$_280px: 280px;

#home-page {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.card {
	position: relative;
	display: inline-block;
	margin: 16px auto;
	width: 100%;
	max-width: 41.3rem;
	border-radius: 20px;
	overflow: hidden;
	background: var(--color-box);
	& &__bg-img {
		position: absolute;
		width: 413px;
		height: 399px;
		max-width: 100%;
		max-height: 100%;
		z-index: 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	& &__content {
		padding-top: 58.4%;
		margin: 0 8%;
		&-title {
			position: relative;
			font-size: 2.4rem;
			font-weight: 600;
			line-height: 2.4rem;
			letter-spacing: 0;
			text-overflow: ellipsis;
			white-space: initial;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			transition: color 0.3s;
			cursor: pointer;
		}
		&-desc {
			position: relative;
			width: 78%;
			padding-top: 3%;
			font-size: 1.8rem;
			font-weight: 500;
			line-height: 29.9px;
			letter-spacing: -0.02rem;
			color: var(--color-body);
		}
	}
	& &__wrap-data {
		display: flex;
		justify-content: space-between;
		margin: 4rem 3.3rem 0;
	}
	& &__price {
		position: relative;
		display: flex;
		align-items: center;
		&-icon {
			margin-left: -0.1rem;
		}
		&-number {
			font-size: 1.8rem;
			font-weight: 600;
			line-height: 160%;
			letter-spacing: -0.01rem;
			color: var(--color-primary);
			padding-left: 1rem;
		}
	}
	& &__time {
		position: relative;
		display: flex;
		align-items: center;

		&-text {
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 160%;
			letter-spacing: -0.01rem;
			color: var(--color-body);
			padding-left: 0.9rem;
			margin-right: -0.1rem;
		}
	}
	& &__line {
		position: relative;
		height: 1px;
		width: 84%;
		margin: 3rem auto 1.5rem;
		background: var(--color-stroke);
	}
	& &__creator {
		display: flex;
		align-items: center;
		margin-left: 3.2rem;
		padding-top: 1.1rem;
		margin-bottom: 2.4rem;
		&-img {
			width: 4rem;
			border-radius: 9rem;
		}
		&-text {
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 160%;
			letter-spacing: -0.01em;
			color: var(--color-body);
			padding-left: 1.6rem;
			&--bold {
				font-weight: 600;
				color: var(--color-title);
				cursor: pointer;
			}
		}
	}
	@media screen and (max-width: $_834px) {
		width: 100%;
		height: 100%;
		max-width: 34.3rem;
		max-height: 48.6rem;
		& &__bg-img {
			width: 343px;
			height: 410px;
		}
		& &__content {
			padding-top: 63.5%;
			margin: 0 24px;
			&-desc {
				padding-top: 1%;
				width: 85%;
			}
		}
		& &__wrap-data {
			margin: 2.4rem 2.5rem 0;
		}
		& &__price {
			&-number {
				font-size: 16px;
			}
		}
		& &__time {
			&-text {
				font-size: 14px;
				padding-left: 0.9rem;
				margin-right: 0.9rem;
			}
		}
		& &__line {
			width: 295px;
			margin: 1.9rem auto 1rem;
		}
		& &__creator {
			padding-top: 1rem;
			margin-left: 2.3rem;
			&-text {
				font-size: 14px;
			}
		}
	}
	@media screen and (max-width: $_375px) {
		margin: 16px 16px;
		// margin-top: 30px;
		// margin-bottom: 30px;
	}

	@media screen and (max-width: $_280px) {
		height: auto;
		max-height: fit-content;
		& &__content {
			&-desc {
				width: 100%;
			}
		}
		& &__wrap-data {
			margin: 2.4rem 1.5rem 0;
		}
	}
}
