/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
	font-family: "Manrope", sans-serif;
	background: var(--color-background);
}

h1,
h2 {
	color: var(--color-black);
}

#root {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
