/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
	--color-card: #9296c4;
	--color-text: #ffffff;
	--color-border: rgba(255, 255, 255, 0.2);
	--color-background: #121212;
}
