/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
	--color-white: #ffffff;

	--color-black-900: #000000;
	--color-black-800: #8a8a8a;
	--color-black-700: #c4c4c4;
	--color-black-600: #c9c9c9;
	--color-black-500: #efefef;
}
