/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
	--color-black: #000000;
	--color-background: #121212;
	--color-text: #ffffff;
	--color-desc: #bfbfbf;
	--color-button-play: #65d36e;
	--color-artist-bgc: #18181c;
	--color-black-footer: #292929;
	--color-black-active: #444444;
	--color-black-button: #3e3e3e;
	--color-white-rgb-03: rgba(255, 255, 255, 0.3);
	--color-background-rgb: rgba(0, 0, 0, 0.5);
	--color-background-rgb-07: rgba(0, 0, 0, 0.7);
}
