/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
	--color-background: #f0f1f8;
	--color-text: #0d1016;
	--color-border: #dadfe9;
	--color-markBgc: #fcfcff;
	--color-modal: #ffffff;
	--color-subtext: #aeb5c3;
	--color-blue-static: #293ce2;
	--color-blue-hover: #4759f4;
	--color-blue-pressed: #2032d0;
	--color-gold: #f2b234;
	--color-box-hover: #eeefff;
}
