@mixin mark($top) {
	position: absolute;
	top: $top;
	transform: translateY(-50%);
	background: var(--color-white);
	border-radius: 8px;
	&-text {
		margin: 0;
		padding: 4px 8px 6px 8px;
		white-space: nowrap;
		font-size: 12px;
		font-weight: 500;
		color: var(--color-black-500);
	}
	&-polygon {
		position: absolute;
		left: 50%;
		top: 112%;
		transform: translate(-50%, -50%);
		clip-path: polygon(100% 0, 0 0, 50% 100%);
		width: 14px;
		height: 6px;
		background: var(--color-white);
	}
}
@mixin swipe-arrows($height) {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 200px;
	// height: 164px;
	height: $height;
	background: linear-gradient(
		270deg,
		var(--color-black-900) 0%,
		var(--color-black-rgba) 100%
	);
	&--left {
		left: 0;
		transform: matrix(-1, 0, 0, 1, 0, 0);
		display: none !important; //ten jeden raz musiałem go użyć
	}
	&--right {
		right: 0;
	}
	&-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 48px;
		height: 48px;
		margin-right: 36px;
		border-radius: 50%;
		overflow: hidden;
		background: var(--color-white-rgba);
		backdrop-filter: blur(4.8px);
		cursor: pointer;
		&-img {
			width: 16px;
			height: 16px;
		}
	}
	@media screen and (max-width: $_834) {
		&-button {
			margin-right: 27px;
		}
	}
	@media screen and (max-width: $_375) {
		display: none;
	}
}
